body {
  padding: 0px;
}

.draggable {
  position:absolute;
  cursor: pointer;
}

.draggable {
  position: absolute;
}

/* Text inside draggable */
.draggable p {
  text-align: center;

  /* Center vertically within parent */
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  position: relative;
}

.canDrag { cursor: -webkit-grab; }

.selectable-container { width: 600px; height: 600px; border: 1px solid black;}

.selectable-container .ui-selecting { background-color: rgba(0,155,0,0.5); } 
.selectable-container .ui-selected { background-color: rgba(0,155,0,0.5);  }

.card {
  color: yellow; /* For text */
  background-color: none;
  padding: 4px;
}

.card img {
  border: 1px solid gray;
}
