body {
  padding: 0px;
}

.draggable {
  position:absolute;
  cursor: pointer;
}

.draggable {
  position: absolute;
}

/* Text inside draggable */
.draggable p {
  text-align: center;

  /* Center vertically within parent */
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  position: relative;
}

.canDrag { cursor: -webkit-grab; }

.selectable-container { width: 600px; height: 600px; border: 1px solid black;}

.selectable-container .ui-selecting { background-color: rgba(0,155,0,0.5); } 
.selectable-container .ui-selected { background-color: rgba(0,155,0,0.5);  }

.card {
  background-color: none;
  padding: 2px;
}

.inHand {
  background-color: rgba(255, 255, 0 , 0.5);
}

.card img {
  border: 1px solid gray;
  text-align: center;
}

.card p {
  color: yellow;
  top: 1em;
  position: absolute;
  margin: 4px;
  padding: 2px 4px 2px 4px;
  background-color: rgba(0, 0, 0, 0.5); */
}
