body {
  padding: 0px;
}

.draggable {
  position:absolute;
  cursor: pointer;
}

.draggable {
  position: absolute;
}

/* Text inside draggable */
.draggable p {
  text-align: center;

  /* Center vertically within parent */
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  position: relative;
}

.canDrag { cursor: -webkit-grab; }

#playable-area  {background-color: #D3F8D3; position: absolute; left: 150; top: 150; width: 600px; height: 600px; border: 1px solid black;}

.selectable-container {width: 1000px; height: 1000px; border: 1px solid black;}
.selectable-container .ui-selecting { background-color: rgba(170,0,255,0.5); } 
.selectable-container .ui-selected { background-color: rgba(170,0,255,0.5);  }

.card {
  background-color: none;
  /*
   * Padding is needed to provide image border-like coloring via the <div><img/></div>
   * card construct. Note: that we want to have both border coloring and the drop
   * shadow coloring.
   */
   padding: 3px;
}

.inHand {
  /* If we want to have border-like coloring for hand cards,
   * we can use background color */
  /* background-color: rgba(255, 255, 0 , 0.5); */
}

.inHand img {
  box-shadow: 0px 0px 15px rgba(20, 230, 0, 1);
}

.card img {
  border: 1px solid gray;
  text-align: center;
}

.card p {
  color: yellow;
  top: 1em;
  position: absolute;
  margin: 4px;
  padding: 2px 4px 2px 4px;
  background-color: rgba(0, 0, 0, 0.5); */
}
