#draggable {
  /* Match the image */
  width:76px;
  height:99px;

  background-image: url("blah.png");
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  /*
  cursor: -webkit-grab;
  */
}

.canDrag {
  cursor: -webkit-grab;
}

.dragging {
  cursor: -webkit-grabbing;
}


#selectable { width: 600px; height: 600px; }
#selectable .ui-selectee { border: 5px solid transparent; }
#selectable .ui-selecting { border: 5px solid cyan; } 
#selectable .ui-selected { border: 5px solid blue;  }

#selectable,
#selectable .ui-selectee,
#selectable .ui-selecting,
#selectable .ui-selected
{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.overlay
{
  position: relative;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  display: block;
}

.blue:before {
  background-color: rgba(0,0,255,0.5);
}

.green:before {
  background-color: rgba(0,255,0,0.5);
}

