.draggable {
  /* Match the image size */
  width:76px;
  height:99px;

  background-image: url("blah.png");
  background-repeat: no-repeat;
  background-position: center;

  position:absolute;
  color: yellow;
}

.draggable p {
  text-align: center;

  /* Center vertically within parent */
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  position: relative;
}

.canDrag { cursor: -webkit-grab; }

.selectable-container { width: 600px; height: 600px; }

.selectable-container .ui-selectee { border: 5px solid transparent; }
.selectable-container .ui-selecting { border: 5px solid cyan; } 
.selectable-container .ui-selected { border: 5px solid blue;  }

.selectable-container .ui-selectee,
.selectable-container .ui-selecting,
.selectable-container .ui-selected
{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.overlay { position: relative; }

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  display: block;
}

.blue:before { background-color: rgba(0,0,255,0.5); }

.green:before { background-color: rgba(0,255,0,0.5); }
