html
  body
    form(action="../new_deck", method="post")
      table
        tr
          th file
          th image
          th num copies
        each image, i in images
          tr
            td!= image
            td
              img(src='#{dir}/#{image}')
            td
              - var name = image
              input(type="text", name=name, value="1")
      input(type="submit", value="Submit")
